pkgbase = kodi-audioencoder-lame
	pkgdesc = kodi audioencoder addon for lame (mp3)
	pkgver = 20150810.5591a68
	pkgrel = 1
	url = https://github.com/xbmc/audioencoder.lame
	arch = i686
	arch = x86_64
	groups = kodi-addons
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = kodi
	depends = lame
	source = kodi-audioencoder-lame::git://github.com/xbmc/audioencoder.lame.git
	sha256sums = SKIP

pkgname = kodi-audioencoder-lame

